---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address"  style="font-size: large;">
                {{ page.profile.address }}
            </div> 
            <div class="contact-icons" style="font-size: large; text-align: center; margin:auto;"> 
              <a href="mailto:{{ site.email }}" title="Email" rel="external nofollow noopener" target="_blank"><i class="fas fa-envelope fa-lg" style="padding:5px 2px;"></i></a>
              <a href="https://github.com/{{ site.github_username }}" title="GitHub" rel="external nofollow noopener" target="_blank"><i class="fab fa-github fa-lg" style="padding:5px 2px;"></i></a> 
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn" rel="external nofollow noopener" target="_blank"><i class="fab fa-linkedin fa-lg" style="padding:5px 2px;"></i></a>
              <!--<a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter" rel="external nofollow noopener" target="_blank"><i class="fab fa-twitter fa-lg" style="padding:5px 2px;"></i></a>-->
              <a href="https://telegram.me/{{ site.telegram_username }}" title="Telegram" rel="external nofollow noopener" target="_blank"><i class="fab fa-telegram fa-lg" style="padding:5px 2px;"></i></a>
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>
              
            </div>
          {%- endif %}
        </article>

</div>
